{% extends "dbms_app/layout.html" %}

{% block title %}
    Create prescription
{% endblock %}

{% block navlist %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'prescriptions' 'create' %}">Create Prescription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'prescriptions' 'show' %}">Show Prescription</a>
    </li>
</ul>

{% endblock %}


{% block body %}

  <form method="POST">
    {% csrf_token %}
    <br>
    <br>
    <table>
        <tr>        
            <td>Prescription Type:</td> 
            <td><input type="radio" id="p_type" name="gender" value="0">
                <label for="p_type">Diagnosis</label><br>
                <input type="radio" id="p_type" name="gender" value="1">
                <label for="p_type">Treatment</label><br>
            </td>
        </tr>

        <tr>        
            <td> Diagnosis/Treatment ID:</td> 
            <td> <input type = "number" name = "id" required> </td>
        </tr>
        

        <tr>        
            <td>Medicine ID(s):</td> 
            <td><input type = "text" name ="med_id" required></td>
        </tr>

        <tr>        
            <td>Quantity (packets):</td> 
            <td><input type = "text" name = "quantity"></td>
        </tr>
    </table>
    <input type = "submit" value ="Create" name = "submit" class="btn btn-primary">
    
</form>
<br>
    *multiple entries are to be seperated by '|'
<br>
    {% if medicines %}
    <div class="mt-3">
        <table class="table table-responsive table-sm table-hover table-fixed">
            <thead class="table-secondary">
            <tr>
                <th>Medicine ID</th>
                <th>Medicine Name</th>
            </tr>

            </thead>
            <tbody>
            {% for med in medicines %}
                <tr style="cursor:pointer;">
                <td>{{ med.medicine_id }}</td>
                <td>{{ med.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
<br>
{% if result %}
    {{ result }}
{% endif %}
<br>
<br>
{% if presc_id %}
    <form action = "show" method="POST">
        {% csrf_token %}
        <input type = "hidden" name = "presc_id_create" value = {{ presc_id }}>
        <input type = "submit" value = "See Prescription" class="btn btn-primary">
    </form>

    <br>

    <form method="POST">
        {% csrf_token %}
        <input type = "hidden" name = "del_presc_id" value = {{ presc_id }}>
        <input type = "submit" value = "Undo Prescription" class="btn btn-primary">
    </form>
{% endif %}

{% if del_status %}
    {{ del_status}}
{% endif %}

{% endblock %}  

