{% extends "dbms_app/layout.html" %}

{% block title %}
  Hospital
{% endblock %}

{%block navlist %}
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class = "nav-item">
            <a class="nav-link" aria-current="page" href="Login?next=/">Login</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'signup'%}">Signup</a>
          </li>
  </ul>
{% endblock%}

{% block body %}
  {% if not sections %}
      Some Error occured, Check your internet connection!
  {% endif %}

  <div class="row mt-3">
        {% for section in sections %}
        <div class="col-lg-3 d-flex mb-3">
            <div class="card" >
                <img class="card-img-top " src= "{{ section.image }}"  style="height: 300px;">
                <div class="card-body">
                    <h5 class="card-title">{{ section.section_name }}</h5>
                    <p class="card-text"> {{ section.details }}</p>
                </div>
                <div class="card-body" >
                    <a href="{{section.section_name}}/index" class="btn btn-sm btn-outline-success">Visit</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

{% endblock %}
