{% extends "dbms_app/layout.html" %}

{% block title %}
  Diagnosis Report
{% endblock %}

{% block navlist %}

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index">Record New Diagnosis</a>
          </li>
  </ul>

{% endblock %}
  
{% block body %}
  
  <form method="POST">
    {% csrf_token %}
    
    Diagnosis ID:<br/>
    <input type="number" name="diag_id" min="1" step="1" required><br/>

    <input type="submit" value="Submit"><br/>
    
  </form>

  <br/><br/>
  
{% for report in reports %}

  <h1>Diagnosis Report</h1><br/>
  <strong>Diagnosis ID: </strong> {{diag_id}} <br/>
  <br/>
  <h4>Room</h4>
  <strong>Room No: </strong> {{room}}<br/>
  <br/>
  <h4>Patient:</h4>
  <strong>Patient Name: </strong> {{pat_name}} <br/>
  <strong>Patient ID: </strong> {{pat_id}} <br/>
  <br/>
  <h4>Doctors</h4>
  <strong>Doctor Name: </strong> {{doc_name}} <br/>
  <strong>Doctor ID: </strong> {{doc_id}} <br/>
  <br/>
  <h4>Tests</h4>
  {% for testid, testname, testres in tests %}
  <strong>Test: </strong> {{testname}} <br/>
  <strong>Test ID: </strong> {{testid}} <br/>
  <strong>Test Result: </strong> {{testres}} <br/>
  {% endfor %}
  <br/>
  <h4>Medicines</h4>
  <strong>Prescription ID: </strong> {{presc_id}} <br/><br/>

  {% for medname, medunit in meds %}
  <strong>Medicine Name: </strong> {{medname}} <br/>
  <strong>Units:</strong> {{medunit}} <br/>
  {% endfor %}
  <br/>
  <h4>Final Result Of Diagnosis</h4>
  {{final_res}} <br/>
  <br/>
  
{% endfor %}

{% for error in errors %}
  <p>{{error}}</p>
{% endfor %}


  
{% endblock %}
